// color
$primary-color:#035755;
$secondary-color:#FA5652;
$text-color:#4B4F51;
$light-text-color:#00402E;
$green-color:#0C6C44;
$send-color:#F44A45;
$input-text-color:#758681;
$footer-color:#415E56;