// Font
@font-face {
    font-family:Gelion-medium;
    src: url(../../font/Gelion/Gelion\ Medium.ttf);
}
@font-face {
    font-family:Gelion-semi;
    src: url(../../font/Gelion/Gelion\ SemiBold.ttf);
}
@font-face {
    font-family:Gelion-Bold;
    src: url(../../font/Gelion/Gelion\ Bold.ttf);
}
@font-face {
    font-family:Gelion-light;
    src: url(../../font/Gelion/Gelion\ Light.ttf);
}