*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
html{
    font-size: 16px;
    font-family:Gelion-light;
}

h1{font-size: $font-32;color:$primary-color;font-family: Gelion-Bold;}
h2{font-size: $font-29; color:$primary-color;font-family: Gelion-Bold}
h3{font-size: $font-29; color:$secondary-color;font-family: Gelion-Bold}
h4{font-size: 64px;color: $green-color;font-family: Gelion-medium;}
p{font-size: $font-20; color: $text-color;}
img{max-width: 100% ; height: auto;}