//padding

$padding-8: .5rem;
$padding-12: .75rem;
$padding-16: 1rem;
$padding-20: 1.25rem;
$padding-24: 1.5rem;
$padding-30: 1.85rem;
$padding-32: 2rem;
$padding-40: 2.5rem;
$padding-50: 3.125rem;
$padding-64: 4rem;

//margin

$margin-8: .5rem;
$margin-12: .75rem;
$margin-16: 1rem;
$margin-20: 1.25rem;
$margin-24: 1.5rem;
$margin-30: 1.85rem;
$margin-32: 2rem;
$margin-40: 2.5rem;
$margin-50: 3.125rem;
$margin-64: 4rem;

//radius

$radius-4: .25rem;
$radius-8: .5rem;
$radius-12: .75rem;
$radius-16: 1rem;
$radius-46:2.875rem;
$radius-64: 4rem;
$radius-50: 50%;

//font-size

$font-10: .625rem;
$font-12: .75rem;
$font-14: .875rem;
$font-15: .95rem;
$font-16: 1rem;
$font-18: 1.125rem;
$font-20: 1.25rem;
$font-24: 1.5rem;
$font-29: 1.8125rem;
$font-32: 2rem;